# creates a new npm release
name: test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin@v6.0.0

      - uses: bgd-labs/github-workflows/.github/actions/setup-node@main

      - name: test action
        uses: ./
        with:
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
        env:
          RPC_POLYGON: "https://rpc.polygon.com"

      - name: test action (assertion)
        run: |
          test "${{env.RPC_POLYGON}}" = "https://rpc.polygon.com"
          test "${{env.RPC_MAINNET}}" = "https://eth-mainnet.g.alchemy.com/v2/${{ secrets.ALCHEMY_API_KEY }}"
